@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  background-color: #000000;
}

.hero-intro{
  font-family: "Poppins";
  font-weight:600;
  font-size:1.8em;
  margin:0px;
  color:#5C5C5E;
  
}

.hero-name{
  font-family: "Poppins";
  font-weight:700;
  font-size:3.6em;
  margin-top:16px;
  color:white
  
  
}
img{
  width:50%;
  padding-left:10%;
}

.hero-about{
  font-family: "Poppins";
  font-weight:400;
  font-size:1em;
  color:#5C5C5E;
}

.hero{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.grid1{
    grid-column: 1/2;
}
.grid2{
    grid-column: 2/3;
}

.primary-hero {
    display: table-cell;
    height: 50vh;
    width:100vw;
    vertical-align: middle;
  }
  .primary-hero-2 {
    display: table-cell;
    height: 50vh;
    width:100vw;
    vertical-align: middle;
  }

  .child {
    display: inline-block;
  }

  @media(max-width:455px){

    .hero{
        width:98%;
        margin:auto;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr;
    }
    
    .grid1{
        grid-row: 1/2;
        grid-column: 1/2;
        text-align:center;
    }
    img{
      width:80%;
      padding-left:0%;
    }
    .grid2{
        grid-row: 2/3;
        grid-column: 1/2;
        text-align:center;
    }
    .primary-hero {
        display: table-cell;
        height: 40vh;
        width:100vw;
        vertical-align: middle;
      }
      .primary-hero-2 {
        display: table-cell;
        height: 40vh;
        width:100vw;
        vertical-align: top;
      }
      .hero-intro{
        font-size:1.4em;
        
      }
      .hero-name{
        font-size: 2em;
        line-height:120%;
        margin-top:16px;
        
      }
      
      .hero-about{
        line-height:160%;
      }
  }

