@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color:#5C5C5E
}

.header{
  text-align: center;
}
.header h1{
  font-weight: 600;
  font-size: 48px;
  color:white;
}

.header p{
  font-weight: 400;
  font-size: 24px;
  color:#5C5C5E;
}

.main{
  width:90%;
  margin:auto;
}

.float{
  position:fixed;
  background-color:#222222;
  color:white;
  padding:0px 16px;
  border-radius:12px;
  bottom:40px;
	right:40px;
}

@media(max-width:455px){
  .header h1{
    font-weight: 600;
    font-size: 40px;
  }
  .header p{
    
    font-size:20px;
  }
  .float{
    display:none;
  }
}